body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #0a3d62;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background-color: #3c6382;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    text-align: center;
}

footer {
    background-color: #0a3d62;
    color: white;
    text-align: center;
    padding: 20px;
}
